body {
  width: 100%;
}

nav {


  opacity: .8;

  .navbar-brand {
    font-family: "Playball";
    font-size: 40px;
    line-height: 30px;

  }

  a {
    font-size: 20px;
    line-height: 30px !important;
  }

}

.container1 {
  width: 100vw;
  height: 100vh;
  background: url(../images/bg.jpg) no-repeat;
  background-size: cover;
  p {
    color:rgb(19, 246, 7);
  }
  .textbox {
    font-size: 50px;
    color: black;
    text-align: center;
    position: relative;
    top: 40%;
  }
}

.container2 {
  padding: 20px;

  .logobox {
    text-align: center;
  }




  h2 {
    margin-top: 35px;
  }



  img {
    max-width: 335px;
    max-height: 400px;
  }

}

.container3 {

  background-color: rgb(175, 208, 231);


  .logotext {
    width: 120px;
    background-color: rgb(175, 208, 231);
  }

  .skills {
    padding-top: 40px;
  }

  .soft {
    margin-top: 70px;
  }
  .softL {
    font-size: 18px;
    padding: 0 !important;
    text-align: right;
    line-height: 30px;
    position: relative;
    top: -5px;
  }
}



footer {
  height: 16vh;
  background-color: rgba(49, 46, 50, 0.74);
  color: white;
  text-align: center;
  line-height: 15vh;
  p {
    margin: 0;
  }
}


//全域
.canvas{
  display: inline-block;
  margin: 0 auto;
}

.title {
  display: inline-block;
  padding: 10px 30px 5px 30px;
  margin: 0 auto;
  border: 2px solid black;
  line-height: 36px;
  vertical-align: middle;
}

.logotext {
  margin: 0 auto;
  top: 8px;
  font-size: 14px;
  position: relative;
  width: 115px;
  line-height: 14px;
  display: block;
  background-color: white;
}

.pleft {
  font-size: 20px;
  padding: 40px;
  text-align: justify !important;
}

.pmid {
  font-size: 20px;
  margin-top: 20px;
  line-height: 60px;
}

.myrow {
  margin: 50px auto;
  text-align: center;
}
